  <!-- Navigation -->

  <!-- End Navigation -->
  
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">{{ site.data.sitetext[page.language].header.a_message_for | append: " " | append: page.publisher_name | markdownify }}</div>
        <div class="intro-heading">{{ page.app_name | append: " " | append: site.data.sitetext[page.language].header.is_ranked | append: " " | append: page.rank | append: " " | append: site.data.sitetext[page.language].header.in_category | append: " " | append: page.category | append: "." | markdownify }}</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext[page.language].header.buttonlink }}">{{ site.data.sitetext[page.language].header.button }}</a>
      </div>
    </div>
  </header>
  <!-- End Header -->