<section class="bg-light page-section" id="{{ site.data.sitetext[page.language].portfolio.section }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ site.data.sitetext[page.language].portfolio.title }}</h2>
        <h3 class="section-subheading non-italic">{{ site.data.sitetext[page.language].portfolio.description }}</h3>
      </div>
    </div>
    <div class="row">

      {% for strategy in site.data.sitetext[page.language].portfolio.release_strategies %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <h4>{{ strategy }}</h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col text-center">
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">{{ site.data.sitetext[page.language].portfolio.button }}</a>
  </div>
</section>
