<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">How to increase your release frequency (and why)</h2>
        <h3 class="section-subheading non-italic">The data tell us that higher ranking apps release new versions with a higher frequency. It makes sense that they rank higher because they are delivering more features, faster. So how can your team deliver more features more quickly?</h3>
      </div>
    </div>
    <div class="row">

      {% for strategy in site.data.sitetext[page.language].release_strategies %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <h4>{{ strategy }}</h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col text-center">
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Interested in a tool to help with this?</a>
  </div>
</section>
