---
layout: home_wrapper
---
    <h1>The Bitrise Landing Page Machine</h1>
    <!-- Additional filters for language and representative full name -->
    <select id="languageFilter">
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="fr">French</option>
    </select>

    <select id="repFirstNameFilter">
        <option value="Anna">Anna</option>
        <option value="Gonzalo">Gonzalo</option>
        <option value="Joe">Joe</option>
        <option value="Lio">Lio</option>
        <option value="Michael">Michael</option>
        <option value="Nehemoyiah">Nehemoyiah</option>
    </select>

    <select id="storeFilter">
        <option value="google_play">Google Play</option>
        <option value="itunes_connect">App Store</option>
    </select>

    <select id="countryFilter">
        <option value="US">Americas: US</option>
        <option value="MX">Americas: MX</option>
        <option value="BR">Americas: BR</option>
        <option value="CA">Americas: CA</option>
        <option value="AU">JPAC: AU</option>
        <option value="NZ">JPAC: NZ</option>
        <option value="JP">JPAC: JP</option>
        <option value="IN">JPAC: IN</option>
        <option value="ID">JPAC: ID</option>
        <option value="SG">JPAC: SG</option>
        <option value="FR">Europe: FR</option>
        <option value="DE">Europe: DE</option>
        <option value="AT">Europe: AT</option>
        <option value="IT">Europe: IT</option>
        <option value="BE">Europe: BE</option>
        <option value="ES">Europe: ES</option>
        <option value="PT">Europe: PT</option>
        <option value="NO">Europe (north): NO</option>
        <option value="DK">Europe (north): DK</option>
        <option value="SE">Europe (north): SE</option>
        <option value="GB">Europe (north): GB</option>
        <option value="NL">Europe (north): NL</option>
        <option value="PL">Europe (north): PL</option>
        <option value="QA">Middle East: QA</option>
        <option value="AE">Middle East: AE</option>
        <option value="JO">Middle East: JO</option>
        <option value="IL">Middle East: IL</option>
        <option value="TR">Middle East: TR</option>
    </select>

    <input type="text" id="searchInput" placeholder="Start typing a publisher name..." autocomplete="off">
    <div id="results"></div>

    <script>
        // Example data - replace this with your actual data
        const publisherData = [
        {% for publisher in site.apps %}
            {
                "name": "{{ publisher.publisher_name | escape }}",
                "app": "{{ publisher.app_name | escape }}",
                "url": "{{ publisher.url | escape }}",
                "language": "{{ publisher.language | escape }}",
                "store": "{{ publisher.store | escape }}",
                "country": "{{ publisher.country | escape }}",
                "rep_first_name": "{{ publisher.rep_first_name | escape }}"
            }{{ ',' if forloop.last == false }}
        {% endfor %}
    ];

        // Fuse.js options
        const options = {
            keys: ["name", "app"],
            includeScore: true
        };

        // Initialize Fuse with the publisher data
        const fuse = new Fuse(publisherData, options);

        function searchPublishers() {
            const searchQuery = document.getElementById('searchInput').value;
            const selectedLanguage = document.getElementById('languageFilter').value;
            const selectedRepFirstName = document.getElementById('repFirstNameFilter').value;
            const selectedCountry = document.getElementById('countryFilter').value;
            const selectedStore = document.getElementById('storeFilter').value;
            const resultsContainer = document.getElementById('results');

            // Perform the search with Fuse.js
            let results = fuse.search(searchQuery);

            // Additional filtering by language and representative name
            if (selectedLanguage !== '') {
                results = results.filter(result => result.item.language == selectedLanguage);
            }
            if (selectedRepFirstName !== '') {
                results = results.filter(result => result.item.rep_first_name == selectedRepFirstName);
            }
            
            if (selectedCountry !== '') {
                results = results.filter(result => {
                    return result.item.country == selectedCountry
                });
            }
            console.log(results)
            if (selectedStore !== '') {
                results = results.filter(result => {
                    return result.item.store == selectedStore
                });
            }

            // Update the results container with the filtered results
            resultsContainer.innerHTML = results.map(result => {
                const publisher = result.item;
                return `<div><a href="${publisher.url}">${publisher.name}-${publisher.app}</a></div>`;
            }).join('');
        }

        // Event listener to perform search on input
        document.getElementById('searchInput').addEventListener('input', searchPublishers);
        document.getElementById('languageFilter').addEventListener('change', searchPublishers);
        document.getElementById('repFirstNameFilter').addEventListener('change', searchPublishers);
        document.getElementById('storeFilter').addEventListener('change', searchPublishers);
        document.getElementById('countryFilter').addEventListener('change', searchPublishers);
    </script>

    